/* Staet Footer */
.footer {
  background-color: var(--white-color);
  padding-top: 50px;
  padding-bottom: 150px;
  color: #000;
  border-bottom: 20px solid var(--secondary-color);
  position: relative;
}
.footer::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 0 200px 200px;
  border-style: solid;
  border-color: transparent transparent var(--secondary-color) transparent;
  /* z-index: -1; */
}
.info__footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 5;
}
.footer__ul:nth-child(4) .footer__h5 {
  width: fit-content;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px 30px 10px 5px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 40px;
}
.footer__ul:nth-child(4) .footer__h5::after {
  content: "\f0d7";
  position: absolute;
  font-family: var(--font-awesome);
  font-weight: 900;
  font-size: 14px;
  right: 10px;
}

.footer__h5 {
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-size: 18px;
}
.footer__li {
  display: flex;
  flex-direction: column;
  color: var(--p-color);
}
.footer_link {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
}
/* End Footer */
