/* Start Reaset Css */
:root {
  --white-color: #ffffff;
  --primary-color: #13547a;
  --secondary-color: #80d0c7;
  --section-bg-color: #f0f8ff;
  --custom-btn-bg-color: #80d0c7;
  --custom-btn-bg-hover-color: #13547a;
  --dark-color: #000000;
  --bs-body-color: #212529;
  --p-color: #717275;
  --border-color: #7fffd4;
  --link-hover-color: #13547a;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-accordion-active-bg: #e7f1ff;
  --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
  --font-family: "Montserrat", sans-serif;
  --font-awesome: "Font Awesome 6 Free";
}

/* End Reaset Css */
/* Start Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

button {
  border: 0;
  background-color: transparent;
  border: inherit;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  font-family: var(--font-family);
  font-size: 1.9rem;
  background-color: var(--white-color);
  line-height: 1.5;
}

.main {
  position: relative;
  width: 100%;
}

.scroll_Top {
  position: fixed;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  bottom: 10px;
  right: -50px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
}

.arrow__up {
  animation: arrow 0.5s infinite;
}

@keyframes arrow {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-5px);
  }
}
.container {
  width: 100%;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
  align-items: center;
}

/* End Global */
/* Start Header */
header {
  background-image: linear-gradient(15deg, #57a1aa 0%, #80d0c7 100%);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 3;
}

header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid rgba(207, 211, 211, 0.35);
}

.logo {
  font-size: 32px;
  font-weight: 700;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.navgation {
  z-index: 1;
}

.disable_link {
  opacity: 0;
}

.nav__link {
  margin: 10px;
  padding: 10px;
  letter-spacing: -0.2px;
  font-size: 18px;
  font-weight: 400;
  color: var(--white-color);
  transition: 0.3s ease;
}

.nav__link:hover,
.nav__link.active {
  color: var(--link-hover-color);
}

.user {
  z-index: 1;
  animation: move 0.9s infinite alternate ease-in-out;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
.icon-user {
  font-size: 20px;
  background-color: var(--white-color);
  padding: 13px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-in;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.icon-user:hover {
  background-color: var(--link-hover-color);
  color: var(--white-color);
}

/* End Header */
/* Start section-Home */
.section-Home {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  position: relative;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 100px;
}

.section-Home__container {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info__heading {
  font-size: 58px;
  font-weight: 700px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 0.5rem;
  margin-top: 0;
  line-height: 1.2;
}

.info__prag {
  color: var(--primary-color);
  font-size: 22px;
  margin-bottom: 8px;
}

.form {
  padding-top: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  position: relative;
}

.text {
  font-size: 18px;
  width: 700px;
  padding: 30px 60px;
  border-radius: 50px;
  outline: none;
  border: none;
}

.form::before {
  content: "\f002";
  font-weight: 900;
  font-family: var(--font-awesome);
  left: 20px;
  top: 30px;
  position: absolute;
  color: var(--bs-gray);
}

.submit {
  color: var(--white-color);
  background-color: var(--custom-btn-bg-color);
  margin-left: -180px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 100px;
  margin-bottom: 0;
  width: 150px;
  transition: background 0.3s ease-in-out;
}

.submit:hover {
  background-color: var(--primary-color);
}

/* End section-Home */
/* Start Feature  */
.feature {
  background-color: var(--custom-btn-bg-color);
  padding-top: 20px;
  border-radius: 0 0 100px 100px;
}

.row {
  position: relative;
  bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.feature__bio:nth-child(1) {
  width: 380px;
  position: relative;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.feature__bio:nth-child(1):hover {
  transform: translatey(-10px);
}

.feature__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.feature__prag {
  color: var(--bs-gray);
  margin-bottom: 1rem;
}

.feature__img {
  width: 250px;
  height: auto;
}

.feature__bio:nth-child(2) {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 500px;
  height: 450px;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.feature__bio:nth-child(2):hover {
  transform: translatey(-10px);
}

.feature__bio:nth-child(2) .feature__title {
  color: var(--white-color);
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.feature__bio:nth-child(2) .feature__prag {
  font-size: 20px;
  font-weight: 400;
  color: var(--white-color);
  margin-bottom: 1rem;
  width: 400px;
}

.button {
  margin-top: 20px;
  background-color: var(--custom-btn-bg-color);
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  color: var(--white-color);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--link-hover-color);
}

.round-pull {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 20px;
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 4px;
  background-color: var(--bs-blue);
  color: var(--white-color);
  font-size: 15px;
  font-weight: 700;
}

.socail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 35px 40px;
}

.icon__socail {
  font-size: 20px;
}

.share {
  margin-right: 1.5rem;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
}

.link__socail {
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 8px;
  margin-right: 10px;
  font-size: 15px;
  line-height: 15px;
  color: var(--white-color);
  transition: background 0.3s ease-in-out;
}

.link__socail:hover {
  background-color: var(--link-hover-color);
}

.capy__save {
  font-size: 25px;
  font-weight: 200;
  color: var(--white-color);
}

/* End Feature  */
/* start BrowseTopics */
.BrowseTopics {
  padding-top: 100px;
  padding-bottom: 100px;
}

.BrowseTopics .container {
  flex-direction: column;
}

.container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container-nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0.1rem;
  border-bottom: 1px solid #ecf3f2;
}

.browse_title {
  font-size: 46px;
  font-family: 700;
  margin-bottom: 1.5rem;
}

.navgition__browse {
  position: relative;
  margin-top: 40px;
}

.browse__link {
  font-size: 18px;
  font-weight: 500;
  color: var(--p-color);
  margin-left: 50px;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.browse__link.active,
.browse__link:hover {
  border-bottom: 1px solid var(--link-hover-color);
}

.container-box {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.box {
  width: 350px;
  height: 100%;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: relative;
}

#box__three {
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.box:hover {
  transform: translatey(-10px);
}

.box__title {
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: 500;
  color: var(--dark-color);
}

.box__prag {
  color: var(--p-color);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 3rem;
}

.box__img {
  width: 100%;
  height: 200px;
  animation: rotet 0.9s infinite alternate ease-in-out;
}

@keyframes rotet {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(10px);
  }
}
.box-pull {
  position: absolute;
  top: 20px;
  right: 10px;
  color: var(--white-color);
  background-color: var(--bs-blue);
  padding: 5px;
  border-radius: 10px;
  font-weight: 500;
}

.box-pull-java {
  position: absolute;
  top: 20px;
  right: 10px;
  color: var(--white-color);
  background-color: var(--bs-danger);
  padding: 5px;
  border-radius: 10px;
  font-weight: 500;
}

/* End BrowseTopics */
/* Start Timelion */
.timelion__container {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.timelion {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(./imag/02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.overlay {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  opacity: 0.85;
  z-index: -1;
}

.timelion__title {
  color: var(--white-color);
  margin-bottom: 24px;
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 5px;
}

.info__timelion {
  margin-top: 1.5rem;
  position: relative;
}

.info__timelion::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  left: -80px;
  top: 0;
  background-color: var(--secondary-color);
}

.info__timelion:nth-child(4):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  left: -80px;
  top: 0;
  background-color: transparent;
}

.info__timelion:nth-child(2)::after {
  content: "\f002";
  position: absolute;
  font-family: var(--font-awesome);
  font-weight: 900;
  left: -130px;
  background-color: var(--secondary-color);
  padding: 40px;
  border-radius: 50%;
  top: -10px;
  font-size: 25px;
  color: var(--white-color);
}

.info__timelion:nth-child(3)::after {
  content: "\f02e";
  position: absolute;
  font-family: var(--font-awesome);
  font-weight: 900;
  left: -123px;
  background-color: var(--secondary-color);
  padding: 40px;
  border-radius: 50%;
  top: -10px;
  font-size: 25px;
  color: var(--white-color);
}

.info__timelion:nth-child(4)::after {
  content: "\f518";
  position: absolute;
  font-family: var(--font-awesome);
  font-weight: 900;
  left: -130px;
  background-color: var(--secondary-color);
  padding: 40px;
  border-radius: 50%;
  top: -10px;
  font-size: 25px;
  color: var(--white-color);
}

.title__info {
  color: var(--white-color);
  margin-bottom: 1rem;
  font-size: 28px;
  font-weight: 600;
}

.prag__info {
  width: 750px;
  color: var(--white-color);
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 400;
}

.buttn {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
}

.buttn__a {
  margin-left: 20px;
  color: var(--secondary-color);
  font-size: 19px;
  border: 3px solid var(--secondary-color);
  padding: 10px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}

.buttn__a:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

/* End Timelion */
/* Start FAQS  */
.FAQS {
  padding-top: 200px;
  padding-bottom: 150px;
  position: relative;
  background-color: var(--bs-accordion-active-bg);
  transition: all 0.3s ease-in-out;
}

.FAQS .container {
  width: 100%;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: inherit;
}

.FAQS__heading {
  position: absolute;
  left: 80px;
  top: 50px;
  margin-bottom: 1.5rem;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--dark-color);
}

.FAQS__heading::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  left: -10px;
  background-color: var(--bs-gray-600);
}

.FAQS__image {
  width: 476px;
  height: 476px;
  max-width: 100%;
  border-radius: 0 0 40px 40px;
}

.faq__ul {
  max-width: 500px;
}

.faq__row {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.faq__input {
  display: none;
}

.faq__label {
  display: block;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  color: var(--primary-color);
}

.faq__input:checked ~ .faq__label {
  background-color: #fff;
  padding: 10px 1.25rem;
  border-radius: 40px;
}

.faq-arrow {
  position: absolute;
  right: 20px;
  top: 30px;
  transition: all 0.3s ease-in-out;
}

.faq__input:checked ~ .faq-arrow {
  transform: rotate(180deg);
}

.faq__answer {
  font-weight: 400;
  font-size: 18px;
  overflow: hidden;
  max-height: 0.1rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  padding-left: 1.25rem;
  line-height: 40px;
  color: var(--p-color);
}

.faq__input:checked ~ .faq__answer {
  max-height: 30rem;
  padding-top: 1rem;
  opacity: 1;
}

.selct-span {
  font-size: 0.875em;
  color: var(--bs-danger);
}

/* End FAQS  */
/* Staet Footer */
.footer {
  background-color: var(--white-color);
  padding-top: 50px;
  padding-bottom: 150px;
  color: #000;
  border-bottom: 20px solid var(--secondary-color);
  position: relative;
}

.footer::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 0 200px 200px;
  border-style: solid;
  border-color: transparent transparent var(--secondary-color) transparent;
  /* z-index: -1; */
}

.info__footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 5;
}

.footer__ul:nth-child(4) .footer__h5 {
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px 30px 10px 5px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 40px;
}

.footer__ul:nth-child(4) .footer__h5::after {
  content: "\f0d7";
  position: absolute;
  font-family: var(--font-awesome);
  font-weight: 900;
  font-size: 14px;
  right: 10px;
}

.footer__h5 {
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-size: 18px;
}

.footer__li {
  display: flex;
  flex-direction: column;
  color: var(--p-color);
}

.footer_link {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
}

/* End Footer */
/* Start Media */
@media (min-width: 1000px) {
  .burgar {
    display: none;
  }
}
@media (max-width: 768px) {
  header {
    position: inherit;
    top: inherit;
    z-index: 3;
  }
  header .container {
    padding-left: 8.25rem;
    padding-right: 8.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .burgar {
    width: 20px;
    color: var(--bs-accordion-active-bg);
    order: 2;
    z-index: 5;
  }
  .user {
    z-index: 1;
    position: absolute;
    right: 60px;
    order: -1;
  }
  @keyframes move {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  .navgation {
    background-image: linear-gradient(15deg, #57a1aa 0%, #80d0c7 100%);
    position: absolute;
    top: 100%;
    left: 0px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav__link {
    margin: 3px;
    padding: 5px;
    letter-spacing: -0.2px;
    font-size: 14px;
    font-weight: 400;
    color: var(--white-color);
    transition: 0.3s ease;
    border-bottom: 1px solid var(--bs-accordion-active-bg);
    display: block;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .feature__bio:nth-child(1) {
    width: 696px;
  }
  .feature__img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 350px;
    height: auto;
  }
  .feature__bio:nth-child(2) {
    width: 696px;
  }
  .navgition__browse {
    left: 0px;
  }
  .browse__link {
    margin-left: 10px;
  }
  .container-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .box {
    width: 350px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  #box__three {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .timelion__container {
    width: 100%;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info__timelion {
    margin-top: 1.5rem;
    position: relative;
    width: 400px;
  }
  .info__timelion::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    left: -80px;
    top: 0;
    background-color: var(--secondary-color);
  }
  .prag__info {
    width: 500px;
    color: var(--white-color);
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 400;
  }
  .FAQS .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .FAQS__heading {
    position: absolute;
    left: 50px;
    top: 50px;
    margin-bottom: 1.5rem;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--dark-color);
  }
  .FAQS__image {
    width: 696px;
    height: 696px;
    max-width: 100%;
    border-radius: 0;
  }
  .faq__ul {
    max-width: 100%;
    margin-top: 40px;
  }
  .info__footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    z-index: 5;
  }
  .info__footer .logo {
    grid-column: 1/-1;
  }
}
@media (max-width: 425px) {
  header {
    position: inherit;
    top: inherit;
    z-index: 3;
  }
  .main {
    width: 425px;
  }
  .burgar {
    width: 20px;
    color: var(--bs-accordion-active-bg);
    order: 2;
    z-index: 5;
  }
  .user {
    z-index: 1;
    position: absolute;
    right: 60px;
    order: -1;
  }
  @keyframes move {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  .navgation {
    background-image: linear-gradient(15deg, #57a1aa 0%, #80d0c7 100%);
    position: absolute;
    top: 100%;
    left: 0px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav__link {
    margin: 3px;
    padding: 5px;
    letter-spacing: -0.2px;
    font-size: 14px;
    font-weight: 400;
    color: var(--white-color);
    transition: 0.3s ease;
    border-bottom: 1px solid var(--bs-accordion-active-bg);
    display: block;
  }
  header .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info__heading {
    font-size: 36px;
  }
  .info__prag {
    text-align: center;
    font-size: 20px;
  }
  .text {
    font-size: 18px;
    width: 361px;
    padding: 30px 60px;
    border-radius: 50px;
    outline: none;
    border: none;
  }
  .submit {
    color: var(--white-color);
    background-color: var(--custom-btn-bg-color);
    margin-left: -120px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 100px;
    margin-bottom: 0;
    width: 100px;
    transition: background 0.3s ease-in-out;
  }
  .feature__bio:nth-child(1) {
    width: 361px;
  }
  .feature__img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 350px;
    height: auto;
  }
  .feature__bio:nth-child(2) {
    width: 361px;
  }
  .container-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .box {
    width: 350px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 0px;
    margin: auto;
  }
  #box__three {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .FAQS__image {
    width: 296px;
    height: 296px;
    max-width: 100%;
    border-radius: 0;
  }
  .info__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    z-index: 5;
  }
  .info__footer .logo {
    grid-column: 1/-1;
  }
  .footer__li.last {
    display: flex;
    flex-direction: column;
    color: var(--p-color);
    font-size: 16px;
  }
  .footer__li.last:last-child {
    display: flex;
    flex-direction: column;
    color: var(--p-color);
    font-size: 12px;
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Media  *//*# sourceMappingURL=style.css.map */